{% load staticfiles %}
<html>
	<head>
		<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/css/question_and_answer.css' %}" rel="stylesheet" />
		<link rel="stylesheet" href="{% static 'assets/color/default.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<header>
	<div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Citrix Answers</a>
			</div>
			<div class="navigation">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><nav>
					<ul class="nav navbar-nav navbar-right">
						<li class="current"><a href="\logout">Logout</a></li>
					</ul></nav>
				</div><!-- /.navbar-collapse -->
			</div>
		</div>
	</div>
	</header>
<body>

	<div class="container-fluid">
		<!-- <div class="row"> -->
			<section class="content">
				<div class="col-md-12">
				<div class="panel panel-default">
				<div class="panel-body">
				<div class="media">
				<div class="media-body">
				<div class="row">
				<div class="col-md-9">
				<span style="font-size:25">
					{{ question.title }}
				</span>
				</div>
				<div class= "col-md-3">
				<div class="pull-right">
				<span class="media-meta">{{ question.created_at | date:"D d M Y" }} {{ question.user.username }}</span>
				<span class="glyphicon glyphicon-user"></span></p>
				</div>
				</div>
				</div>
				<h4 class="summary">{{ question.description }}</h4>
				<span class="pull-right pagado"><span class="glyphicon">&#xe105;</span> {{ question.views }}</span>
				</div>
				</div>
				</div>
				</div>
				</div>
				</section>
				<div class="panel">
				<div class="panel-body">
				<div class="table-container">
				<table class="table table-filter col-md-12">
					<tbody>
						<div class="media">
						{% for answer in answer_list %}
							<div class="container-fluid">
							<tr>
							<td>
							<div class="media-body">
								<span class="media-meta pull-right">{{ answer.created_at | date:"D d M Y" }} {{ answer.user.username }}<span class="glyphicon glyphicon-user"></span></p></span>
								<h5 class="title" ">
								{{ answer.content }}
								<br>
								<br>
								<a href="#" class="btn btn-primary btn-md" style="margin-right: 16px">
									<span class="glyphicon glyphicon-thumbs-up"></span>  {{ answer.upvotes }}
								</a>
								<a href="#" class="btn btn-warning btn-md" style="margin-right: 16px">
									<span class="glyphicon glyphicon-thumbs-down"></span>  {{ answer.downvotes }}
								</a>
								<!-- <span class="pull-right pagado">Upvotes: {{ answer.upvotes }}</span> -->
								<!-- <span class="pull-right pagado">Downvotes: {{ answer.downvotes }}</span> -->
									{% if answer.is_solution == 1 %}
									<span class="pull-right pagado">This answer is an accepted solution</span>
									{% endif %}
								</h5>
							</div>
							</div>
							</td>
							</tr>
							</div>
						{% endfor %}
					</tbody>
				</table>
				</div>
				</div>
				</div>
				<div class="content-footer"></div>
				</div>
			</section>

		<!-- </div> -->
	</div>
</body>
</html>
